//色に関する変数を登録します

// テキスト
$black: #222;

// テキスト＆リンク
$gray: #7d7d7d;

// contact formで使う薄いグレーの下線
$gray2:  #e7e7e7;

// contact formで使う薄いグレーのテキスト
$gray3:  #9d9d9d;

// menu・footer・linkbtnの背景
$red: #C00C57;

// 背景＄redの時のホバー色
$pink: #d883a6;

// 背景＄redの時の薄ピンクのテキスト
$pink2: #ecb5cc;


